<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkm.mybatisplus.mapper.CommentMapper">

    <resultMap id="BaseResultMap" type="com.qkm.mybatisplus.Auto.Comment">
            <result property="comment" column="comment" jdbcType="VARCHAR"/>
            <result property="creatat" column="creatAt" jdbcType="VARCHAR"/>
            <result property="blogcreatatandname" column="blogCreatAtAndName" jdbcType="VARCHAR"/>
            <result property="bossid" column="bossId" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        comment,creatAt,blogCreatAtAndName,
        bossId
    </sql>


    <insert id="insertSelective">
        insert into comment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="comment != null">comment,</if>
            <if test="creatat != null">creatat,</if>
            <if test="blogcreatatandname != null">blogcreatatandname,</if>
            <if test="bossid != null">bossid,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="comment != null">#{comment,jdbcType=VARCHAR},</if>
            <if test="creatat != null">#{creatat,jdbcType=VARCHAR},</if>
            <if test="blogcreatatandname != null">#{blogcreatatandname,jdbcType=VARCHAR},</if>
            <if test="bossid != null">#{bossid,jdbcType=VARCHAR},</if>
        </trim>
    </insert>

    <delete id="deleteByCommentAndBlogcreatatandname">
        delete
        from comment
        where comment = #{comment,jdbcType=VARCHAR}
          AND blogcreatatandname = #{blogcreatatandname,jdbcType=VARCHAR}
    </delete>


</mapper>
